.o_field_deploy_environment_logs,
.o_field_deploy_environment_shell,
.o_field_deploy_environment_history,
.o_field_deploy_agent_branches,
.o_field_deploy_agent_backups {
    width: 100% !important;
    flex: 1 1 100%;
}

.o_deploy_env_row {
    cursor: pointer;
}
.o_deploy_env_row:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.o_deploy_shell {
    height: 700px;
    overflow: hidden;
    .border.rounded {
        flex: 1 1 auto;
        overflow: hidden;
    }
    .xterm {
        height: 100% !important;
        .xterm-scrollable-element {
            height: 100% !important;
        }
    }
    .xterm-viewport {
        display: none;
    }
}

.o_deploy_env_notebook {
    min-height: 800px;
}

.o_deploy_log_container {
    height: 700px;
}

.log-console-panel {
    height: 380px;
    overflow-y: auto;

    textarea,
    .o_field_text {
        height: 100% !important;
        resize: none !important;
        outline: none !important;
        border: 0 !important;
        padding: 0 !important;
    }
}
